---
layout: page
title: 标签云
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<script src="//cdn.bootcss.com/jquery/1.4.2/jquery.min.js"></script>
<script src="/assets/js/jquery.mousewheel.min.js"></script>
<script src="/assets/js/jquery.tagsphere.min.js"></script>
<script>
$(function(){
    $('#tagcloud').tagcloud({centrex:250, centrey:250, init_motion_x:10, init_motion_y:10});
});
</script>

<style type="text/css">
  #tagcloud li a {
      text-decoration: none;
      color: black;
  }
  #tagcloud {
      border: 5px solid #555;
  }
</style>

<div id="tagcloud" style="width:250px; height:250; background-color:#fbfaf7;">
    <ul>
    {% if site.tags.first[0] == null %}
        {% for tag in site.tags %}
            <li style="list-style:none">
                <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref" rel="{{site.tags[tag].size}}">{{ tag }}</a>
            </li>
        {% endfor %}
    {% else %}
        {% for tag in site.tags %}
            <li style="list-style:none">
                <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref"
                   title="{{ tag[0] }}"
                   rel="{{ tag[1].size }}">{{ tag[0] }}</a>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

<!--
<ul>
    {% assign tags_list = site.tags %}
    {% include JB/tags_list %}
</ul>
-->

{% for tag in site.tags %} 
<h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
<ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
</ul>
{% endfor %}
