<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="author" content="{{ site.author.name }}" />
    {% if page.description != "" %}
    <meta content="{{page.description}}" />
    {% endif %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/styles.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/pygment_trac.css">
    <link rel="stylesheet" href="//lib.sinaapp.com/js/jquery-ui/1.9.2/themes/ui-lightness/jquery-ui.css">
    <script src="{{ ASSET_PATH }}/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include JB/analytics %}
    <!-- Use Latex Syntax in HTML -->
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="//lib.sinaapp.com/js/jquery/2.2.4/jquery-2.2.4.min.js"></script>
    <script src="//lib.sinaapp.com/js/jquery-ui/1.9.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
        <p class="header">{{ site.tagline }}</p>
        <ul>
          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include JB/pages_list %}
        </ul>
	    <!-- google search 
	    <form class="form-control" method=get action="//www.google.com/search">
            <input type=text name=q><br/>
	        <input type=submit name=btnG value="站内搜索">
	        <input type=hidden name=ie value=utf-8>
	        <input type=hidden name=oe value=utf-8>
	        <input type=hidden name=hl value=zh-CN>
	        <input type=hidden name=domains value="andyhuzhill.github.com">
	        <input type=hidden name=sitesearch value="andyhuzhill.github.com">
	    </form>
        -->
        <input type="text" id="search" size="20" placeholder="输入标题或日期搜索文章" required />  
	    <!-- Page Counter -->
	    访客计数:
	    <div align="left">
	        <a href="http://www.amazingcounters.com">
	    	<img border="0" src="http://cc.amazingcounters.com/counter.php?i=3154096&c=9462601" alt="net traffic statistics"></a><br>
	    </div>
        {% if site.ads.google %}
        <div class="misc ad">
          <script type="text/javascript"><!--
            google_ad_client = "{{ site.ads.google.client }}";
            google_ad_slot = "{{ site.ads.google.slot }}";
            google_ad_width = {{ site.ads.google.width }};
            google_ad_height = {{ site.ads.google.height }};
            //-->
          </script>
          <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js"></script>
        </div>
        {% endif %}

        {% if site.author %}
        <div class="misc vcard">
          <h4>about</h4>
          <ul>
            {% if site.author.email %}
            <li class="contact"><address><span class="author fn n">{{ site.author.name }}</span> - <span class="fn email">{{ site.author.email }}</span></address></li>
            {% endif %}
            {% if site.author.github %}
            <li class="github"><a href="//github.com/{{ site.author.github }}/" rel="me">github.com/{{ site.author.github }}</a></li>
            {% endif %}
          </ul>
        </div><!-- misc -->
        {% endif %}
      </header>
      <section>
      {{ content }}
      </section>
      <!-- Baidu tongji code -->
      <script type="text/javascript">
          var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5b6f1df1bc88f75a0f4ef7146c7b03a2' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <!-- Baidu tongji code -->
    </div>

    <!--[if !IE]>
    <script>fixScale(document);</script>
    <!--<![endif]-->
    
    <script>
    $(function() {
          $.ajax({
              url: "/search.xml",
              dataType: "xml",
              success: function(xmlResponse) {
                 var data = $("article", xmlResponse).map(function(){
                      return {
                          value: $("title", this).text() + ", " +
                              $.trim($("date", this).text()),
                          desc: $("description", this).text(),
                          url: $("url", this).text()
                      };
                  }).get();
    
                  $("#search").autocomplete({
                      source: data,
                      minLength: 0,
                      select: function(event, ui) {
                        window.location.href = ui.item.url;
                      }
                  });
              }
          });
      });
    </script>
  </body>
</html>
